<template>
  <div class="card">
    <header class="card__header">
      <div class="card__title h4 fw-800">{{name}}</div>
      <div class="card__title-description">
        <div>
          <span>Последняя
          транзакция:</span>
          <span>{{lastTransaction}}</span>
        </div>
      </div>
    </header>

    <main class="card__body">
      <div>
        {{ address }}
      </div>
      <div>
        <div>{{ balance }} ₽</div>
        <div>{{ people }} ₽</div>
      </div>
    </main>

    <footer class="card__footer">
      <div class="card__edit-button button h6">
        Редактировать
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: "CardConvoy",
  props: {
    name: {type: String, required: true},
    lastTransaction: {type: String, required: true},
    address: {type: String, required: true},
    balance: {type: [String, Number], required: true},
    people: {type: [String, Number], required: true},

    // admin: {
    //   type: Boolean,
    //   required: true
    // }
  },
}
</script>

<style lang="scss" scoped>

@import "/assets/styles/_colors";

$grey_local: #ADB3BC;
.card {
  background: $grey-light;
  border-radius: 2rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  min-height: 13.5rem;
  color: $grey_local;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //line-height: 110%;
  }

  &__title {
    flex: 1 1 0px;
    color: #fff;
    line-height: 110%;
  }

  &__title-description {
    display: flex;
    max-width: 35%;
    text-align: right;
    line-height: 110%;
  }

  &__body {
    flex: 1 1 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: .25rem 0 1.5rem 0;

    & > div {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;


    }

    > :nth-child(1){
      flex: 2 1 0px;
      line-height: 110%;
    }
    > :nth-child(2){
      flex:1 1 0px;
      color: #3abd79;
    }
  }


  &__footer {
    line-height: 140%;
  }

  .button {
    padding: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666C76;
    border-radius: 2rem;
  }

  &__edit-button {

  }
}
</style>
