<template>
  <div class="card">
    <header class="card__header">
      <div class="card__title h4 fw-800 lh-110" @click="$emit('openTable')/*linkTo(path)*/">{{ name }}</div>
      <div class="card__title-description">
        <div>
          <span>Последняя
          транзакция:</span>
          <!--          21/02/21 18:00-->
          <span>{{ lastTransaction }}</span>
        </div>
      </div>
    </header>

    <main class="card__body lh-110">
      <div>
        <div>Широта: {{ latitude | round }}</div>
        <div>{{ balance }} ₽</div>
      </div>
      <div>
        <div>Долгота: {{ longitude | round }}</div>
        <div><span>{{ people }}</span><span class="img-cnt-1em"><img src="/images/icons/human.svg" alt=""></span></div>
      </div>
    </main>

    <footer class="card__footer">
      <div class="card__buttons h6">
        <div class="card__button button"
             v-for="(button, index) in buttons"
             :key="index"
        >
          {{ button.name }} • {{ button.price }}₽
        </div>

        <div class="card__button button">
          Добавить ещё
        </div>

      </div>
      <div class="card__edit-button button h6" v-if="admin" @click="showEditModal = true">
        Редактировать
      </div>
    </footer>
    <EditModal v-if="showEditModal"
               @close="showEditModal = false"
               :title="name"
    ></EditModal>
  </div>
</template>

<script>
import EditModal from "@/components/UI/Modals/Azs/EditModal";

export default {
  components: {EditModal},
  name: "CardAzs",
  props: {
    name: {type: String, required: true},
    lastTransaction: {type: String, required: true},
    latitude: {type: [String, Number], required: true},
    longitude: {type: [String, Number], required: true},
    balance: {type: [String, Number], required: true},
    people: {type: [String, Number], required: true},
    path: {type: String, required: true},
    buttons: {
      type: Array,
      required: true
    },
    admin: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      showEditModal: false,
    }
  },
  methods: {
    // linkTo(path) {
    //   this.$router.push(path)
    // }
  },
  filters: {
    round: (value) => {
      return parseFloat(value).toFixed(2)
    }
  }

}
</script>

<style lang="scss" scoped>

@import "/assets/styles/_colors";

$grey_local: #ADB3BC;
.card {
  background: $grey-light;
  border-radius: 2rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  color: $grey_local;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 110%;
  }

  &__title {
    cursor: pointer;
    flex: 1 1 0px;
    color: #fff;
  }

  &__title-description {
    display: flex;
    max-width: 35%;
    text-align: right;
  }

  &__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    justify-content: flex-start;
    margin: .25rem 0 1.25rem 0;

    & > div {
      //flex: 1 1 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      //:nth-child(1){
      //  flex: 1 1 0px;
      //}
      > :nth-child(2) {
        display: flex;
        justify-content: flex-end;
        color: $green;
      }
    }
  }


  &__footer {
    line-height: 140%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .button {
    padding: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666C76;
    border-radius: 2rem;
  }


  &__buttons {
    display: flex;
    gap: .25rem;
    flex-wrap: wrap;
    margin-bottom: 0.25rem;
    justify-content: flex-start;
    width: 100%;
  }

  &__button {
  }

  &__edit-button {

  }
}
</style>
