<template>
  <div class="card">
    <header class="card__header">
      <div class="card__title h5 fw-700">
        {{ title }}
      </div>
      <div class="card__title-description">
        <div class="card__balance is-green"
             v-if="userStatus === 2"><span>Баланс: </span><span>{{ balance }}</span></div>
        <div class="card__post">
          {{
            userStatus === 1 ? 'Администратор'
              : 2 ? 'Владелец автоколонны'
                : 'Владелец заправки'
          }}
        </div>
      </div>
    </header>

    <main class="card__body">
      <div class="img-cnt-3">
        <img :src="icon" alt="">
      </div>
      <div class="card__user h4 fw-800">
        {{ name + " " + surname + " (Вы)"}}
      </div>
    </main>

    <footer class="card__footer">
      <!--      <div class="card__buttons" v-if="userStatus === 2">-->
      <!--        <div class="card__edit-button button h6">-->
      <!--          Редактировать-->
      <!--        </div>-->
      <!--        <div class="card__edit-button button h6">-->
      <!--          Пополнить-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div class="card__buttons" v-else>-->
      <!--        <div class="card__edit-button button h6">-->
      <!--          Редактировать-->
      <!--        </div>-->

      <!--      </div>-->
    </footer>
  </div>
</template>

<script>
export default {
  name: "SelfCard",
  components: {},
  props: {
    title: {type: String, required: true},
    name: {type: String, required: true},
    balance: {type: [String, Number]},
    //post: {type: String, required: true},
    icon: {type: String, /*required: true*/},
    userStatus: {type: [Number], required: true},
    surname: {type: String, required: true},
  },
  data() {
    return {}
  },

}
</script>

<style lang="scss" scoped>

@import "/assets/styles/_colors";

$grey_local: #ADB3BC;
.card {
  background: $grey-light;
  border-radius: 2rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  color: $grey_local;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //line-height: 110%;
  }

  &__title {
    flex: 1 1 0px;
    line-height: 110%;
  }

  &__title-description {
    display: flex;
    max-width: 60%;
    text-align: right;
    line-height: 110%;
    flex-direction: column;
  }

  &__body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem 0 1.5rem 0;

    > :nth-child(1) {
      margin-right: 0.75rem;
    }
  }

  &__user {
    line-height: 110%;
    color: white;
  }

  &__footer {
    line-height: 140%;
  }

  .button {
    padding: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666C76;
    border-radius: 2rem;
  }

  &__buttons {
    display: flex;

    > :not(:last-child) {
      margin-right: 0.25rem;
    }
  }


  &__edit-button {
    flex: 1 1 0px;
  }
}
</style>
