<template>
  <div class="page-wrapper">
    <transition name="home">
      <cards v-if="!showAzsTable">
        <template slot="card__body">
          <EmptyCard text="+ Создать новую точку"
                     @click="showCreateModal = true"
          ></EmptyCard>
<!--          <card-azs v-for="(azs, index) in azsData"-->
<!--                    :key="index"-->
<!--                    :name="azs.name"-->
<!--                    :last-transaction="azs.lastTransaction"-->
<!--                    :balance="azs.balance"-->
<!--                    :people="azs.people"-->
<!--                    :latitude="azs.latitude"-->
<!--                    :longitude="azs.longitude"-->
<!--                    :buttons="azs.buttons"-->
<!--                    :admin="isAdmin"-->
<!--                    :path="'/admin/Azs/tableAzs'"-->
<!--                    @openTable="showAzsTable=true; write(index)"-->
<!--          ></card-azs>-->
          <card-azs v-for="(azs, index) in azsData"
                    :key="index"
                    :name="azs.name"
                    :last-transaction="azs.lastTransaction | isNull"
                    :balance="azs.balance | isNull"
                    :people="azs.people | isNull"
                    :latitude="azs.lat | isNull"
                    :longitude="azs.lng | isNull"
                    :buttons="azs.options"
                    :admin="isAdmin"
                    :path="'/admin/Azs/tableAzs'"
                    @openTable="showAzsTable=true; write(index)"
          ></card-azs>
        </template>
      </cards>

      <table-Azs v-else @closeTable="showAzsTable=false"></table-Azs>
    </transition>
    <CreateModal v-if="showCreateModal"
                 @close="showCreateModal = false"
    ></CreateModal>
  </div>
</template>

<script>
import Cards from "@/components/UI/Cards";
import CardAzs from "@/components/UI/Cards/CardAzs";
import EmptyCard from "@/components/UI/Cards/EmptyCard";
import tableAzs from "@/components/UI/Tables/tableAzs";
import CreateModal from "@/components/UI/Modals/Azs/CreateModal";

export default {
  components: {Cards, CardAzs, EmptyCard, tableAzs, CreateModal},
  name: "azs",
  middleware: ['auth', 'isAdmin'],
  layout: 'adminLayout',
  transition: 'home',

  data() {
    return {
      isAdmin: true,
      showAzsTable: false,
      showCreateModal: false,
      azs: {}
    }
  },
  computed: {
    azsData() {
      return this.$store.state.modules.admin.azs.cards
    },

  },
  methods: {
    addCard() {
      this.$store.dispatch('modules/admin/azs/AddNewCard',
        {
          name: "Автоколонна «Европа» from dispatch",
          // lastTransaction: new Date("2021-08-12T20:30:00.417Z"),
          lastTransaction: "12/08/2021 18:23",
          latitude: 2121.21,
          longitude: 3232.23,
          balance: 12345,
          people: 1000,
          buttons: [
            {name: "92 евро", price: 21.21},
            {name: "92 евро", price: 21.21},
            {name: "92 евро", price: 21.21},
          ]
        })

      console.log(this.$store.state.modules.admin.azs)
      console.log(this.$store.state.modules.admin.azs.cards)
    },

    write(i) {
      console.log(i)
    }
  },
  filters:{
    isNull(value){
      if (!value){
        return ""
      } else {
        return value
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.page-wrapper {
  flex: 1 1 0px;
  padding: 1.5rem 0 1.5rem 3rem;
}
</style>
