<template>
  <div class="page-wrapper">
    <cards>
      <template slot="card__body">
        <EmptyCard  text="+ Создать новую точку"></EmptyCard>
        <card-convoy v-for="(convoy, index) in convoyData"
                     :key="index"
                     :name="convoy.name"
                     :last-transaction="convoy.lastTransaction"
                     :address="convoy.address"
                     :balance="convoy.balance"
                     :people="convoy.people"
        ></card-convoy>
      </template>
    </cards>
  </div>
</template>

<script>
import Cards from "@/components/UI/Cards";
import EmptyCard from "@/components/UI/Cards/EmptyCard";
import CardConvoy from "@/components/UI/Cards/CardConvoy";

export default {
  components: {Cards, EmptyCard, CardConvoy},
  name: "convoy",
  middleware: ['auth', 'isAdmin'],
  layout: 'adminLayout',
  transition: 'home',
  data(){
    return{
      convoyData:[
        {
          name:"Автоколонна «Европа»",
          lastTransaction:"21/02/2021 8:00",
          address:"Москва, Костмаровский переулок, 10с1, 120а 30дАЗС №38",
          balance:"21213",
          people:"555"
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.page-wrapper {
  flex: 1 1 0px;
  padding: 1.5rem 0rem 1.5rem 3rem;
}
</style>
