<template>
  <div class="page-wrapper">
    <cards>
      <template slot="card__body">
        <EmptyCard text="+ Добавить новый аккаунт" @click="showConfirmModal=true"></EmptyCard>
        <SelfCard :title="User.place_work"
                  :name="User.name"
                  :balance="User.balance"
                  :user-status="User.roles"
                  :surname = "User.surname"
        ></SelfCard>
        <card-staff v-for="(employee, index) in staffData"
                    :key="index"
                    :title="employee.title"
                    :name="employee.name"
                    :balance="employee.balance"
                    :icon="employee.icon"
                    :post="employee.post"
                    :user-status="employee.userStatus"
        ></card-staff>
      </template>
    </cards>

    <ConfirmModal @close="showConfirmModal=false"
                  @register="showRegisterModal = true; showConfirmModal = false"
                  v-if="showConfirmModal"></ConfirmModal>
    <RegisterModal @close="showRegisterModal=false" v-if="showRegisterModal"></RegisterModal>
  </div>
</template>

<script>
import Cards from "@/components/UI/Cards";
import EmptyCard from "@/components/UI/Cards/EmptyCard";
import CardStaff from "@/components/UI/Cards/CardStaff";
import RegisterModal from "@/components/UI/Modals/RegisterModal";
import ConfirmModal from "@/components/UI/Modals/ConfirmModal";
import SelfCard from "@/components/UI/Cards/SelfCard";

export default {
  name: "staff",
  components: {Cards, EmptyCard, CardStaff, RegisterModal, ConfirmModal, SelfCard},
  middleware: ['auth', 'isAdmin'],
  layout: 'adminLayout',
  transition: 'home',
  data() {
    return {
      showConfirmModal: false,
      showRegisterModal: false,
      staffData: [
        {
          title: "Транспортные Технлогии",
          name: "Борис Гензулин",
          post: "Администратор",
          icon: "/images/Profiles/Ellipse%206.svg",
          balance: "6.000.000",
          userStatus: 2,
        },
        {
          title: "Транспортные Технлогии",
          name: "Борис Гензулин",
          post: "Администратор",
          icon: "/images/Profiles/Ellipse%206.svg",
          balance: "6.000.000",
          userStatus: 3,
        }
      ]
    }
  },
  computed: {
    User() {
      return this.$store.state.modules.admin.staff.user
    }
  }
}
</script>

<style lang="scss" scoped>
.page-wrapper {
  flex: 1 1 0px;
  padding: 1.5rem 0rem 1.5rem 3rem;
}
</style>
