<template>
  <modal @close="$emit('close')">
    <div class="header" slot="header">
      <div class="h4 lh-110 fw-800">Зарегистрировать новый аккаунт?</div>
    </div>

    <div class="body" slot="body">
      <div class="body__buttons h6 fw-500">
        <div class="button body__button" @click="$emit('register')">Новая регистрация</div>
        <div class="button body__button is-gray" @click="$emit('close')">Отмена</div>
      </div>
    </div>
  </modal>
</template>

<script>
import Modal from "@/components/UI/Modals/Modal";

export default {
  name: "ConfirmModal",
  components: {Modal}
}
</script>

<style lang="scss" scoped>
@import "assets/styles/colors";
.header{
  padding: 2rem;
  max-width: 16.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.body{
  padding: 0 1rem;
}
.body__buttons{
  display: flex;
  flex-direction: column;
  > :first-child {
    background: $green;
    color: #fff;
    margin-bottom: .25rem;
  }
  padding-bottom: 2rem;
}

.body__button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-radius: 2rem;
  border: 1px solid #666C76;
}
</style>
