<template>
  <modal @close="$emit('close')">
    <div class="body" slot="body">
      <div class="h4 lh-110 fw-800">Регистрация нового пользователя</div>
      <form>
        <InputWIthDrop />
      </form>
    </div>
  </modal>
</template>

<script>
import Modal from "@/components/UI/Modals/Modal";
import InputWIthDrop from "@/components/UI/Inputs/InputWIthDrop";

export default {
  name: "RegisterModal",
  components: {Modal, InputWIthDrop}
}
</script>

<style lang="scss" scoped>
.body{
  padding: 2rem 3rem;
}
</style>
