<template>
  <div class="table__wrapper">
    <header class="table__header">
      <div class="button table__exit is-gray" @click="$emit('closeTable')">‹ К списку заправок</div>
      <div class="table__title h5 lh-110 fw-700">{{ title }}</div>
      <div class="table__buttons">
        <button class="button table__button is-gray">Выберите дату</button>
        <button class="button table__button is-gray">Скачать Excel</button>
      </div>
    </header>
    <main class="table__container">
      <div class="table__body">
<!--        <table class="h6 fw-700 lh-110">-->
<!--          <thead class="is-gray">-->
<!--          <tr>-->
<!--            <th>#</th>-->
<!--            <th>Оператор</th>-->
<!--            <th>Клиент</th>-->
<!--            <th>Cтатус</th>-->
<!--            <th>За литр,₽</th>-->
<!--            <th>Залито,л</th>-->
<!--            <th>Итого,л</th>-->
<!--            <th>Комиссия,₽</th>-->
<!--            <th>К оплате,₽</th>-->
<!--            <th>Оплаченно ,₽</th>-->
<!--            <th>Дата</th>-->
<!--            <th>Заправка</th>-->
<!--            <th>Адрес</th>-->
<!--            <th>Колонка</th>-->
<!--            <th>Топливо</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr v-for="(row, index) in tableData" :key="index">-->
<!--            <th>{{ index }}</th>-->
<!--            <td>{{ row.operator }}</td>-->
<!--            <td>{{ row.client }}</td>-->
<!--            <td v-if="row.status"-->
<!--                class="is-green"-->
<!--                style="text-shadow: 0px 0px 16px rgba(147, 227, 150, 0.4);"-->
<!--            >Оплачено-->
<!--            </td>-->
<!--            <td v-else-->
<!--                style="color: #BD3A3A;-->
<!--              text-shadow: 0px 0px 16px rgba(227, 147, 147, 0.4);"-->
<!--            >Ошибка-->
<!--            </td>-->
<!--            <td>{{ row.pricePerLiter }}</td>-->
<!--            <td>{{ row.filled }}</td>-->
<!--            <td>{{ row.total }}</td>-->
<!--            <td>{{ row.fee }}</td>-->
<!--            <td>{{ row.payment }}</td>-->
<!--            <td>{{ row.paid }}</td>-->
<!--            <td>{{ row.date }}</td>-->
<!--            <td>{{ row.gasStation }}</td>-->
<!--            <td>{{ row.address }}</td>-->
<!--            <td>{{ row.pump }}</td>-->
<!--            <td>{{ row.fuelName }}</td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
        <table class="h6 fw-700 lh-110">
          <thead class="is-gray">
          <tr>
            <th>#</th>
            <th>Оператор</th>
            <th>Клиент</th>
            <th>Cтатус</th>
            <th>За литр,₽</th>
            <th>Залито,л</th>
            <th>Итого,л</th>
            <th>Комиссия,₽</th>
            <th>К оплате,₽</th>
            <th>Оплаченно ,₽</th>
            <th>Дата</th>
            <th>Заправка</th>
            <th>Адрес</th>
            <th>Колонка</th>
            <th>Топливо</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(row, index) in tableData" :key="index">
            <th>{{ index }}</th>
            <td>{{ row.operator }}</td>
            <td>{{ row.client }}</td>
            <td v-if="row.status"
                class="is-green"
                style="text-shadow: 0px 0px 16px rgba(147, 227, 150, 0.4);"
            >Оплачено
            </td>
            <td v-else
                style="color: #BD3A3A;
              text-shadow: 0px 0px 16px rgba(227, 147, 147, 0.4);"
            >Ошибка
            </td>
            <td>{{ row.pricePerLiter }}</td>
            <td>{{ row.filled }}</td>
            <td>{{ row.total }}</td>
            <td>{{ row.fee }}</td>
            <td>{{ row.payment }}</td>
            <td>{{ row.paid }}</td>
            <td>{{ row.date }}</td>
            <td>{{ row.gasStation }}</td>
            <td>{{ row.address }}</td>
            <td>{{ row.pump }}</td>
            <td>{{ row.fuelName }}</td>
          </tr>
          </tbody>
        </table>

      </div>

    </main>
    <footer class="table__footer"></footer>
  </div>
</template>

<script>

export default {
  components:{},
  name: "tableAzs",
  data() {
    return {
      title: "АЗС ТТ №22",
      tableData: [
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: false,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        },
        {
          operator: "Евгений Святославович",
          client: "+79882113535",
          status: true,
          pricePerLiter: "21,33",
          filled: "31",
          total: "23",
          fee: "121",
          payment: "551",
          paid: "311",
          date: "21/01/21 8:00",
          gasStation: "АГЗС №103 ГАЗПРОМ",
          address: "Москва, Кострамской пер., 120а",
          pump: "№2",
          fuelName: "92 евро",
        }
      ]
    }
  },
  mounted() {
    // $(document).ready(function() {
    //
    // })
    // const table = $('table')
    // table.floatThead()
  }
}
</script>

<style lang="scss" scoped>
@import "assets/styles/colors";

.table {
  &__wrapper {

    height: 100%;
    width: 100%;
    background: $grey-light;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.06);

    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }

  &__exit, &__button {
    font-size: 0.75rem;
  }

  &__buttons {
    > :first-child {
      margin-right: 1rem;
    }
  }

  &__button {
    border-radius: 2rem;
    padding: .25rem .5rem;
    background: $grey;
  }
&__container{
  position: relative;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
}
  &__body {
    //padding: 0 .25rem;

    flex: 1 1 0px;
    overflow: auto;


    table {
      width: 100%;
      //table-layout: fixed;
      border-collapse: collapse;
    }

    thead {
      //position: relative;
      text-align: center;
      z-index: 2;
      margin-top: -10px;

      > tr > :nth-child(1) {
        min-width: 24px;
        padding-left: .25rem;
      }



      > tr > * {
        padding: 1rem 0;
        position: sticky;
        top: -1px;
        z-index: 3;
        background: $grey-light;
        border-bottom: 1px solid #666C76;
      }

      //&:after{
      //  content: "";
      //  width: 100%;
      //  position: absolute;
      //  bottom: 0;
      //  border-bottom: 1px solid #fff;
      //}
    }

    th, td {
      max-width: 70px;
      //word-break: break-word;
      hyphens: auto;
      overflow-wrap: break-word;
    }

    tbody{
      overflow: auto;
    }

    tbody tr {
      border-bottom: 1px solid #666C76;

      > * {
        padding: .5rem .125rem;

      }

      //, 3,4,5,6,7,8,9,10,11,14
      > :nth-child(1),
      :nth-child(3),
      :nth-child(4),
      :nth-child(5),
      :nth-child(6),
      :nth-child(7),
      :nth-child(8),
      :nth-child(9),
      :nth-child(10),
      :nth-child(11),
      :nth-child(14),
      :nth-child(15) {
        text-align: center;
      }


    }

  }
  &__footer{
    height: 1.5rem;
  }

}
</style>
