<template>
<nav class="nav">
  <div class="container nav__container">
<div class="nav__logo">
  <img src="/images/logo_green.svg" alt="">
</div>
    <button class="button nav__button" @click="logout"><span><img src="/images/Vector.svg" alt=""></span> Выйти из аккаунта</button>
  </div>
</nav>
</template>

<script>
export default {
  name: "NavBar",

  methods:{
    logout(){
      this.$auth.logout()
    }
  }
}
</script>

<style lang="scss" scoped>
.nav{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #535A64;
  &__logo{
    img{
      height: 2rem;
    }
  }

  &__container{
    padding: 0.75rem 1.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__button{
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    color: #ADB3BC;
    span{
      padding-right: .25rem;
    }
    img{
      height: .5rem;
    }
  }
}
</style>
