<template>
  <div class="card__wrapper">
    <slot name="card__body"></slot>
  </div>
</template>

<script>
export default {
  name: "Cards"
}
</script>

<style lang="scss" scoped>
.card__wrapper {
  display: grid;
  grid-column-gap: 0.75rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(315px, 317px));
  align-content: stretch;
  justify-content: stretch;
}

</style>
