@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');

@import "typography";
@import "colors";
@import "transitions";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Manrope', sans-serif;
  color: #fff;
}
input{
  all:unset;
}
button{
  all:unset;
}

a{
  all: unset;
}
.button{
  cursor: pointer;
}

.container{
  max-width: 1280px;
  width: 100%;
}

.img-cnt-1{
  img{
    height: 1rem;
  }
}
.img-cnt-1em{
  img{
    height: 1em;
  }
}
.img-cnt-2{
  img{
    height: 2rem;
  }
}
.img-cnt-3{
  img{
    height: 3rem;
  }
}
