<template>
  <modal @close="$emit('close')">
    <div class="header" slot="header">
      <input class="h4 fw-800 lh-110" type="text" v-model="title" placeholder="Введите название">
    </div>

    <div class="body lh-110" slot="body">
      <div class="body__form">
        <label class="is-gray">
          Широта:
          <input type="text" v-model="lat" placeholder="Введите широту">
        </label>
        <label class="is-gray">
          Долгота:
          <input type="text" v-model="lng" placeholder="Введите долготу">
        </label>
      </div>

      <div class="body__buttons h6 fw-500">
        <div class="button body__button" @click="submit">Сохранить</div>
        <div class="button body__button is-gray" @click="$emit('close')">Удалить</div>
      </div>
    </div>
  </modal>
</template>

<script>
import Modal from "@/components/UI/Modals/Modal";

export default {
  components: {Modal},
  name: "CreateModal",
  data() {
    return {
      title: "",
      lat: "",
      lng: "",
    }
  },
  methods: {
    async submit() {
      try {
        await this.$axios.post("/api/v3/azs", {
          name: this.title,
          lat: this.lat,
          lng: this.lng
        }).then()
      } catch (error) {
        console.log(error.message)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/styles/colors";

input {
  cursor: pointer;
}

.header {
  padding: 1.5rem 1.5rem 1.25rem 1.5rem;
  max-width: 16.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  input::placeholder {
    color: #fff;
  }
}

.body {
  padding: 0 1.5rem;
  font-size: .75rem;
  min-width: 20rem;
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input::placeholder {
    color: $is-gray;
  }

  > :first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.body__buttons {
  display: flex;
  padding-top: 1rem;

  > :first-child {
    background: $green;
    color: #fff;
    margin-right: 0.25rem;
  }

  > * {
    flex: 1 1 0px;
  }

  padding-bottom: 1rem;
}

.body__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-radius: 2rem;
  border: 1px solid #666C76;
}
</style>
