<template>
  <modal v-show="isVisible">
    <div class="header" slot="header">
      <div class="h4 lh-110 fw-800">{{title}}</div>
    </div>

    <div class="body" slot="body">
      <div class="body__buttons h6 fw-500">
        <div class="button body__button" @click="_confirm">{{ okButton }}</div>
        <div class="button body__button is-gray" @click="_cancel">{{ cancelButton }}</div>
      </div>
    </div>
  </modal>
</template>

<script>
import Modal from "@/components/UI/Modals/Modal";

export default {
  components: {Modal},
  name: "EditOptionModal",
  data() {
    return {
      isVisible: false,
      title: undefined,
      message: undefined,
      okButton: undefined,
      cancelButton: "Отмена",

      resolvePromise: undefined,
      rejectPromise: undefined,
    }
  },
  methods: {
    open() {
      this.isVisible = true
    },
    close() {
      this.isVisible = false
    },
    show(options = {}) {
      this.title = options.title
      // this.message = options.message
      if (options.message) this.message = options.message
      this.okButton = options.okButton
      if (options.cancelButton) this.cancelButton = options.cancelButton
      this.open()
      return new Promise((resolve, reject) => {
        this.resolvePromise = resolve
        this.rejectPromise = reject
      })
    },
    _confirm() {
      this.close()
      this.resolvePromise(true)
    },

    _cancel() {
      this.close()
      this.resolvePromise(false)
      // Or you can throw an error
      // this.rejectPromise(new Error('User cancelled the dialogue'))
    },
  }
}
</script>
<style lang="scss" scoped>
@import "assets/styles/colors";

.header {
  padding: 2rem;
  max-width: 16.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.body {
  padding: 0 1rem;
}

.body__buttons {
  display: flex;
  flex-direction: column;

  > :first-child {
    background: $green;
    color: #fff;
    margin-bottom: .25rem;
  }

  padding-bottom: 2rem;
}

.body__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-radius: 2rem;
  border: 1px solid #666C76;
}
</style>
