<template>
  <div class="wrapper">
    <NavBar/>
    <div class="nuxt__wrapper container">
      <!--      <div class="menu">-->
      <!--        <div class="menu__item button h5 fw-700 lh-100 " :class="{active: menuItems.Azs}"-->
      <!--             @click="toggleMenu(); menuItems.Azs = true">-->
      <!--          <span class="img-cnt-1"><img src="/images/Admin/Vector.svg" alt=""></span>-->
      <!--          АЗС-->
      <!--        </div>-->
      <!--        <div class="menu__item button h5 fw-700 lh-100 " :class="{active: menuItems.convoy}"-->
      <!--             @click="toggleMenu(); menuItems.convoy = true">-->
      <!--          <span class="img-cnt-1"><img src="/images/Admin/Vector-1.svg" alt=""></span>-->
      <!--          Автоколонны-->
      <!--        </div>-->

      <!--        <div class="menu__item button h5 fw-700 lh-100 " :class="{active: menuItems.staff}"-->
      <!--             @click="toggleMenu(); menuItems.staff = true">-->
      <!--          <span class="img-cnt-1"><img src="/images/Admin/Vector-2.svg" alt=""></span>-->
      <!--          Сотрудники-->
      <!--        </div>-->
      <!--        <div class="menu__divider"></div>-->
      <!--              <div class="menu__item button h5 fw-700 lh-100 " :class="{active: menuItems.help}"-->
      <!--                   @click="toggleMenu(); menuItems.help = true">-->
      <!--                <span class="img-cnt-1"><img src="/images/Admin/Vector-3.svg" alt=""></span>-->
      <!--                Помощь-->
      <!--              </div>-->
      <!--      </div>-->

      <div class="menu">
        <!--        <nuxt-link class="menu__item button h5 fw-700 lh-100"-->
        <!--                   v-for="(item, index) in menu"-->
        <!--                   :key="index"-->
        <!--                   :class="{active: item.isActive}"-->
        <!--                   :to="item.link"-->
        <!--                   @click="toggleMenu(item)"-->
        <!--        >-->

        <div class="menu__container">
          <nuxt-link class="menu__item button h5 fw-700 lh-100"
                     v-for="(item, index) in menu"
                     :key="index"
                     :to="item.link"
          >
            <span class="img-cnt-1"><img :src="item.icon" alt=""></span>
            <!--          <nuxt-link :to="item.link">{{ item.title }}</nuxt-link>-->
            {{ item.title }}
          </nuxt-link>
          <div class="menu__divider"></div>
          <div class="menu__item button h5 fw-700 lh-100 ">
            <span class="img-cnt-1"><img src="/images/Admin/Vector-3.svg" alt=""></span>

            Помощь
          </div>
        </div>

      </div>
      <nuxt/>
    </div>

  </div>
</template>

<script>
import NavBar from "@/components/NavBar";

export default {
  components: {NavBar},
  name: "adminLayout",
  data() {
    const menu = [
      {
        title: "АЗС",
        icon: "/images/Admin/Vector.svg",
        link: "/admin/Azs",
        isActive: true,
      },
      {
        title: "Автоколонны",
        icon: "/images/Admin/Vector-1.svg",
        link: "/admin/convoy",
        isActive: false,
      },
      {
        title: "Сотрудники",
        icon: "/images/Admin/Vector-2.svg",
        link: "/admin/staff",
        isActive: false,
      }

    ]
    return {
      menu,
      menuItems: {
        azs: true,
        convoy: false,
        staff: false,
        help: false
      }
    }
  },
  methods: {
    // toggleMenu() {
    //   this.menuItems = {
    //     Azs: false,
    //     convoy: false,
    //     staff: false,
    //     help: false
    //   }
    // }
    // toggleMenu(item) {
    //   this.menu.forEach(e => e.isActive = false)
    //   item.isActive = true
    //
    // }
  }
}
</script>

<style lang="scss" scoped>

.wrapper {
  //width: 100vw;
  min-height: 100vh;
  background: #50555c;
  display: flex;
  flex-direction: column;
}

.nuxt__wrapper {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  margin: 0 auto;
  flex: 1 1 0px;

  > :nth-child(2) {
    flex: 1 1 0px;
  }

  nuxt {
    flex: 1 1 0;
  }
}

.menu {
  padding-top: 3rem;
  padding-left: 1rem;


  &__container{
    position: sticky;
    top: 3rem;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 0.75rem;
    border-radius: 2rem;
    margin-bottom: .5rem;
    transition: .5s;

    span {
      margin-right: .75rem;
    }

    &:before {
      top: 0;
      left: 0;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(58, 189, 121, 0.15) 58.65%, rgba(40, 172, 103, 0) 100%);
      border-radius: 2rem;
      transition: .5s;
      opacity: 0;
    }

    //
    //&.active {
    //  &:before {
    //    opacity: 1;
    //  }
    //}
    &.nuxt-link-exact-active {
      &:before {
        opacity: 1;
      }
    }
  }

  &__divider {
    width: 100%;
    border-bottom: 1px solid #797F88;
    margin-bottom: .5rem;
  }
}
</style>
