<template>
  <div class="wrapper">
    <NavBar />
    <div class="nuxt__wrapper">
      <nuxt/>
    </div>

  </div>
</template>

<script>
import NavBar from "@/components/NavBar";
export default {
  components:{NavBar},
  name: "mainLayout"
}
</script>

<style lang="scss" scoped>

.wrapper {
  width: 100vw;
  height: 100vh;
  background: #50555c;
}
.nuxt__wrapper{
  display: flex;
  justify-content: center;
  padding: 0 2rem;

  nuxt{
    flex: 1 1 0;
  }
}
</style>
