<template>

  <div class="container admin__container">
    <div class="h2">
      admin

    </div>
    <button class="button" @click="testRequest">Test</button>
    <cards>
      <template slot="card__body">
        <div class="card">abiba</div>
        <div class="card">abiba</div>
        <div class="card">abiba</div>
        <div class="card">abiba</div>
        <div class="card">abiba</div>
      </template>
    </cards>

  </div>

</template>

<script>
import Cards from "@/components/UI/Cards";

export default {
  components: {Cards},
  name: "Admin",
  middleware: ['auth', 'isAdmin'],
  layout: 'adminLayout',
  methods: {
    // async testRequest() {
    //   await this.$axios.$post("/api/v3/authorization_admin", {
    //     login: "admin",
    //     password: "111111"
    //   }).then(res => console.log(res))
    // }
//     async testRequest() {
//       await this.$axios.$get("/api/v3/authorization_admin", {
// data:{
//
//   login: "login",
//   password: "111111"
// }
//
//       }).then(res => console.log(res))
//     }
    async testRequest() {
      await this.$axios.$put("/api/v3/authorization_admin", {}).then(res => console.log(res))
    }
    // async testRequest() {
    //   await this.$axios.$get("/api/v3/roles").then(res => console.log(res))
    // }
  }
}
</script>

<style lang="scss" scoped>
div {
  color: #3abd79;
}

.card {
  background: #535A64;
  border-radius: 2rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  padding: 1rem 1.5rem;
}
</style>
