<template>
  <div class="login_wrapper-background">
    <div class="wrapper-background-left"></div>
    <div class="wrapper-background-right"></div>

    <div class="login__wrapper">
      <div class="login__container">
        <div class="login__block">
          <div class="block">
            <header class="block__header">
              <div class="block__logo"><img src="/images/logo.svg" alt=""></div>
            </header>
            <main class="block__main">
              <div class="h1 lh-100 fw-700">Добро пожаловать!</div>
              <div class="block__subtitle h3 lh-120">Чтобы стать нашим партнёром и получить доступ
                к панели управления, позвоните по телефону:
              </div>
              <div class="block__phone h1 lh-120">+7 983 000 100 144</div>
            </main>
          </div>
        </div>
        <div class="login__form-container">
          <form action="" class="form" method="post" @submit.prevent="login">
            <div class="h2 lh-100 fw-600">Вход в аккаунт</div>
            <input v-model="username" type="text" class="form__input h5 lh-150 fw-500" placeholder="Ваш логин">
            <input v-model="password" type="password" class="form__input h5 lh-150 fw-500" placeholder="Введите пароль">
            <button type="submit" class="button form__button h5 lh-150 fw-700">Войти в аккаунт</button>

          </form>
<!--          <button @click="getSomething" class="button form__button h5 lh-150 fw-700">check</button>-->
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: "login",
  data(){
    return{
      username: '',
      password: '',
      error: null
    }
  },
  methods:{
    async login(){
      try {
        // await this.$auth.loginWith('local', {
        //   data:{
        //     username:this.username,
        //     password: this.password
        //   }
        // }).then(res => {
        //   console.log(res)
        //   console.log("role", this.$auth.user.role === "admin")
        //   this.$router.push('/admin')
        //   //this.$auth.setUserToken('local', 'Bearer ' + res.data.accessToken)
        // })

        await this.$auth.loginWith('local', {
          data:{
            username:this.username,
            password: this.password
          }
        }).then(res => {
          console.log(res)
          console.log("role", this.$auth.user.role === "admin")
          this.$router.push('/admin/Azs')
          //this.$auth.setUserToken('local', 'Bearer ' + res.data.accessToken)
        })


      } catch (e){
        console.log(e)
        //this.error = e.response.data.message
      }
    },
    async getSomething(){
      await this.$axios.$get('/api/v1/users').then(res => console.log(res))
    }

  }
}
</script>

<style lang="scss" scoped>
@import "assets/styles/_colors";

.wrapper-background-left{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: $grey;
  z-index: -1;
}
.wrapper-background-right{
  top: 0;
  right: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: $green;
  z-index: -1;
}
.login {
  &__wrapper {
    //background: $green;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  &__container {
    height: 100%;
    display: flex;
    width: 1280px;
    background: $green;
  }

  &__block {
    //width: 60%;
    flex: 1 1 0px;
    background: $grey;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  &__form-container {
    display: flex;
    align-items: center;
    width: 32rem;
    min-width: 32rem;
    // max-width: 40rem;
    padding-left: 4rem;
    padding-right: 6.25rem;
  }

}

.block {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 780px;
  padding: 1rem 2rem;

  &__logo{
    img{
      height: 2rem;
    }
  }

  &__main {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width:38rem;

    :nth-child(1) {
      margin-bottom: .25rem;
    }
    :nth-child(2) {
      margin-bottom: 1.5rem;
    }
  }
  &__subtitle {
    color: #797F88;
  }
  &__phone{
    color: $green;
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;

  :nth-child(1) {
    margin-bottom: 1.5rem;
  }

  :nth-child(2) {
    margin-bottom: 0.75rem;
  }

  :nth-child(3) {
    margin-bottom: 1.5rem;
  }

  &__input {
    color: $grey;
    background: #fff;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.05);

    &::placeholder {
      color: $grey;
    }
  }

  &__button {
    background: #fff;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    color: $green;
    box-shadow: 0px 0px 16px #93E396;
  }
}
</style>
